[hidden] {display: none !important;}

/*--------------------------------------------*/

body {
	font-family: Arial, Helvetica, Sans-serif;
	color: #888888;
	display: flex;
	height: 97vh;

	accent-color: #008CBA;
}

h1, h2 {
	color: #008CBA;
}

/*--------------------------------------------*/

.center {
	padding: 0px;
  	margin: auto;
  	width: 60%;

  	justify-content: center;
  	align-items: center;
  	text-align: center;
}

/*--------------------------------------------*/

button {
  	background-color: #ffbf00;
  	border-color: #ffbf00;
  	color: white;
  	padding: 15px 32px;
	border-radius: 100px;
	margin: 20px;
	margin-bottom: 40px;

	transition-duration: 0.2s;
}

button:hover{
	background-color: white;
	color: #ffbf00;
}

button:disabled, button[disabled] {
  	background-color: #ffeaab;
  	color: white;
  	border-color: #ffeaab;
}

/*--------------------------------------------*/

select {
	font-family: Arial, Helvetica, Sans-serif;
	color: #888888;

	border-radius: 100px;
	border-style: solid;
	border-width: 2px;
	border-color: #888888;
	width: 100px;
	height: 32px;

	text-align: center;
}

input[type="text"]{
	font-family: Arial, Helvetica, Sans-serif;
	color: #888888;

	border-radius: 10px;
	border-style: solid;
	border-color: #888888;
	width: 200px;
	height: 32px;

	text-align: center;
}

input[type="checkbox"]{
	color: #888888;

	width: 16px;
	height: 16px;
}

/*--------------------------------------------*/

.imageContainer {
    display: inline-block;

    border-radius: 10px;
    margin: 5px;
    width: 100px;
    height: 120px;

  	transition-duration: 0.1s;
}

.imageContainer img{
  	width: 80px;
  	height: 80px;

	transition-duration: 0.2s;
}

.imageContainer:hover img{
   	transform:scale(1.2);
}

.imageContainerEyeColor{
	margin-right:auto; 
	margin-left:auto; 
	width:80%;
}

.imageContainerHairColor, .imageContainerSkinColor{
	margin-right:auto; 
	margin-left:auto; 
	width:60%;
}

.caption {
    margin-top: 0px;
}

/*--------------------------------------------*/

.textContainer {
	margin: 10px;
	margin-right: auto; 
	margin-left: auto;
	width: 50%;
	height: 50px;

	border-style: solid;
  	border-color: #ddddcc;
    border-radius: 100px;

  	display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align: center;

  	padding-right: 10px;
  	padding-left: 10px;

  	transition-duration: 0.1s;
}

.textContainer p{
    transition-duration: 0.1s;
}

.textContainer:hover p{
    font-style: italic;
}

/*--------------------------------------------*/

.progress{
	color: #aaaaaa;
	font-size: 14px;
	margin: -20px;
	margin-bottom: 50px;
}

.disabled{
	opacity: 0.3;
}

/*--------------------------------------------*/
/*Suporte para outras resoluções*/

@media only screen and (max-width: 768px){
	.center {
	  	width: 80%;
	}

	.imageContainerEyeColor{
		width:100%;
	}

	.imageContainerHairColor, .imageContainerSkinColor{
		width:90%;
	}

	.imageContainer {
	    width: 80px;
	    height: 70px;
	}

	.imageContainer img{
	  	width: 65px;
	  	height: 65px;
	}

	.caption {
	    font-size: 14px;
	}

	button {
	  	padding: 10px 20px;
	}
}
