[hidden] {display: none !important;}

/*--------------------------------------------*/

body {
	font-family: Arial, Helvetica, Sans-serif;
	color: #888888;
	height: 97vh;
	padding: 0;
	margin: 0;

	accent-color: #008CBA;
}

h1, h2 {
	color: #008CBA;
}

/*--------------------------------------------*/

.center {
	padding: 0px;
  	margin: auto;
  	width: 60%;

  	justify-content: center;
  	align-items: center;
  	text-align: center;
}

.flex{
	display: flex;
}

/*--------------------------------------------*/

header {
	text-align: left;
	background: #008CBA;
	padding: 20px;
}

header h1 {
	color: white;
	margin-bottom: 0;
	margin-left: 5%;
}

header p {
	color: #dddddd;
	margin-top: 0;
	margin-left: 5%;
}

#logoUSP {
	float: right;
	width: 110px;
	height: 80px;
	margin-right: 5%;
}

.formContainer {
	border-style: solid;
	border-color: #dddddd;
	border-radius: 20px;
	border-width: 5px;
	margin: 20px;
}

.formContainer h2 {
	padding-top: 40px;
}

.headerButtons {
	padding: 0px;
	margin-left: -20px;
	margin-right: -20px;
	margin-bottom: -20px;
	height: 5vh;

	justify-content: center;
	align-items: center;
	text-align: center;

	background-color: #3a49cf;
}

/*--------------------------------------------*/

button {
  	background-color: #ffbf00;
  	border-color: #ffbf00;
  	color: white;
  	padding: 15px 32px;
	border-radius: 100px;
	margin: 20px;
	margin-bottom: 40px;
	cursor: pointer;

	transition-duration: 0.2s;
}

button:hover {
	background-color: white;
	color: #ffbf00;
}

button:disabled, button[disabled] {
  	background-color: #ffeaab;
  	color: white;
  	border-color: #ffeaab;
	cursor: default;
}

.headerButton {
	background-color: #3a49cf;
	border-style: none;
	color: white;
	padding: 0px 0px;
	width: 24%;
	height: 100%;
	border-radius: 0px;
	margin: 0px;
	cursor: pointer;

	transition-duration: 0.2s;
}

.headerButton:hover {
	background-color: #008CBA;
	color: #ffbf00;
}

/*--------------------------------------------*/

select {
	font-family: Arial, Helvetica, Sans-serif;
	color: #888888;

	border-radius: 100px;
	border-style: solid;
	border-width: 2px;
	border-color: #888888;
	width: 100px;
	height: 32px;
	cursor: pointer;

	text-align: center;
}

input[type="text"] {
	font-family: Arial, Helvetica, Sans-serif;
	color: #888888;

	border-radius: 10px;
	border-style: solid;
	border-color: #888888;
	width: 200px;
	height: 32px;
	cursor: pointer;

	text-align: center;
}

input[type="checkbox"] {
	color: #888888;

	width: 16px;
	height: 16px;
	cursor: pointer;
}

input[type="file"] {
	display: none;
}

.inputLabel {
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 13px;

	border-style: outset;
	border-width: 2px;
  	background-color: #ffbf00;
  	border-color: #ffbf00;
  	color: white;
  	padding: 15px 70px;
	border-radius: 5px;
	margin: 20px;
	cursor: pointer;

	transition-duration: 0.2s;
}

.inputLabel:hover {
	background-color: white;
	color: #ffbf00;
}

/*--------------------------------------------*/

.slider {
	-webkit-appearance: none;
	appearance: none; 
	width: 400px;
	height: 20px;
	cursor: pointer;
	outline: none;
	overflow: hidden;
	border-radius: 16px;
}
  
.slider::-webkit-slider-runnable-track {
	height: 20px;
	background: #dddddd;
	border-radius: 16px;
}
  
.slider::-moz-range-track {
	height: 20px;
	background: #dddddd;
	border-radius: 16px;
}
  
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none; 
	height: 20px;
	width: 20px;
	background-color: #fff;
	border-radius: 50%;
	border: 2px solid #ffbf00;
	box-shadow: -410px 0 0 400px #ffbf00;
}
  
.slider::-moz-range-thumb {
	height: 20px;
	width: 20px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #ffbf00;
	box-shadow: -410px 0 0 400px #ffbf00;
}

/*--------------------------------------------*/

.imageContainer {
    display: inline-block;

    border-radius: 10px;
    margin: 5px;
    width: 100px;
    height: 120px;
	cursor: pointer;

  	transition-duration: 0.1s;
}

.imageContainer img {
  	width: 80px;
  	height: 80px;

	transition-duration: 0.2s;
}

.imageContainer:hover img {
   	transform:scale(1.2);
}

.imageContainerEyeColor {
	margin-right:auto; 
	margin-left:auto; 
	width:80%;
}

.imageContainerHairColor, .imageContainerSkinColor {
	margin-right:auto; 
	margin-left:auto; 
	width:60%;
}

.caption {
    margin-top: 0px;
}

.lightContainer {
    display: inline-block;

    border-radius: 10px;
    margin: 0px;
    width: 100px;
    height: 150px;
    padding-top:  10px;
	cursor: pointer;

  	transition-duration: 0.1s;
}

.lightContainer:hover img {
   	transform:scale(1.2);
}

.imageContainerLightolor {
	margin-right:auto; 
	margin-left:auto; 
	width:100%;
}

.lightContainer img {
	width: 80px;
	height: 120px;

  	border-radius: 10%;

  	transition-duration: 0.2s;
}

.circleImage {
	position: absolute;
	width: 50px;
	height: 50px;
	margin-top: 75px;
	margin-left: -125px;
}

/*--------------------------------------------*/

.textContainer {
	margin: 10px;
	margin-right: auto; 
	margin-left: auto;
	width: 50%;
	height: 50px;

	border-style: solid;
  	border-color: #ddddcc;
    border-radius: 100px;
	cursor: pointer;

  	display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align: center;

  	padding-right: 10px;
  	padding-left: 10px;

  	transition-duration: 0.1s;
}

.textContainer p {
    transition-duration: 0.1s;
}

.textContainer:hover p {
    font-style: italic;
}

/*--------------------------------------------*/

.progress {
	color: #aaaaaa;
	font-size: 14px;
	margin: -20px;
	margin-bottom: 50px;
}

.disabled {
	opacity: 0.3;
}

/*--------------------------------------------*/

#ageInput {
	width: 64px;
}

#imageInstructions {
	width:200px;
	height:200px;
}

#imageBrightnessTest {
	width:200px;
	height:200px;
}

#forearmImage {
	width:200px;
	height:200px;
	object-fit: cover;
	border-radius: 10%;
}

/*--------------------------------------------*/
/*Suporte para outras resoluções*/

@media only screen and (max-width: 768px) {
	.center {
	  	width: 80%;
	}

	.imageContainerEyeColor{
		width:100%;
	}

	.imageContainerHairColor, .imageContainerSkinColor{
		width:90%;
	}

	.imageContainer {
	    width: 80px;
	    height: 70px;
	}

	.imageContainer img{
	  	width: 65px;
	  	height: 65px;
	}

	.caption {
	    font-size: 14px;
	}

	button {
	  	padding: 10px 20px;
	}

	.inputLabel {
		padding: 10px 48px;		
   }
}